@import "tailwindcss";
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-card: var(--card);
    --color-border: var(--border);
    --color-hover: var(--hover);
    --color-hover-text: var(--hover-text);
    --color-hover-border: var(--hover-border);
    --color-hover-bg: var(--hover-bg);
    --color-accent: var(--accent);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}


:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #4f4f4f;

    --primary: #000000;
    --secondary: #171717;
    --card: #181717;
    --border: #272626;

    --hover: #e5e5e5;
    --hover-text: #171717;
    --hover-border: #e5e5e5;
    --hover-bg: #e5e5e5;
}


[data-theme="light"] {
    --background: #ffffff;
    --foreground: #171717;
    --accent: #767676;

    --primary: #000000;
    --secondary: #171717;
    --card: #ffffff;
    --border: #c0bfbf;

    --hover: #e5e5e5;
    --hover-text: #171717;
    --hover-border: #e5e5e5;
    --hover-bg: #e5e5e5;
}


html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.5s ease-in-out;
}


.slide-animate {
    animation: slide-in 0.6s ease-in-out both;
}
.slide-animate-reverse {
    animation: slide-in 0.6s ease-in-out both reverse;
}

.circle {
    position: absolute;
    border-radius: 50%;
    transition: background-color 1s ease-in-out;
    z-index: -1;
}

.text-stroke {
    color: var(--foreground);
}
.text-stroke:hover {
    -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 1px;
    color: transparent;
}



@keyframes blob {
    0%,
    100% {
        transform: translate(0, 0) scale(1);
    }
    33% {
        transform: translate(30px, -50px) scale(1.1);
    }
    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.animate-slide-up {
    animation: slide-up 0.8s ease-out forwards;
}

.animate-fade-in {
    animation: fade-in 1s ease-out forwards;
}

.animate-blink {
    animation: blink 1s infinite;
}

.animate-scroll-left {
    animation: scroll-left 20s linear infinite;
}
.animate-scroll-right {
    animation: scroll-left 30s linear infinite reverse;
}

.hover\:pause-animation:hover {
    animation-play-state: paused;
}

.animation-delay-200 {
    animation-delay: 200ms;
}

.animation-delay-400 {
    animation-delay: 400ms;
}

.animation-delay-600 {
    animation-delay: 600ms;
}

.animation-delay-800 {
    animation-delay: 800ms;
}

.animation-delay-1000 {
    animation-delay: 1000ms;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}


@keyframes gradient-shift {
    0%,
    100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}


@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
